@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-intro {
    /* background-image: url("../assets/bg-intro.svg"); */
    background-size: contain;
    background-repeat: no-repeat;
}

.icon {
    @apply border-black bg-black text-white p-3 rounded-full hover:bg-white text-4xl hover:cursor-pointer transition transform duration-200 ease-in-out border-2;
}

.twitter {
    @apply hover:text-[#1da1f2];
}

.linkedin {
    @apply hover:text-[#0072b1];
}

.youtube {
    @apply hover:text-[#ff0000];
}

.github {
    @apply hover:text-[#000000];
}

.dev {
    @apply hover:text-[#000000];
}

.about-div {
    @apply w-1/2 flex flex-col items-start px-10 py-20;
}

.logo {
    @apply ml-10 text-2xl
}

.bg-hob {
    /* background-image: url("../assets/bg-hob.svg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.paper {
    background: #fff;
    box-shadow:
        0 1px 1px rgb(0, 0, 0),
        0 10px 0 -5px rgb(255, 255, 255),
        0 10px 1px -4px rgb(0, 0, 0),
        0 20px 0 -10px rgb(255, 255, 255),
        0 20px 1px -9px rgb(0, 0, 0);
}

.shadow-heading {
    text-shadow: 4px 4px 0px #d7fc70;
}

.shadow-heading2 {
    text-shadow: 3px 3px 0px #ff9431;
}

.bg-layer1, .bg-layer2, .bg-layer3, .bg-layer4 {
    background-color: #fff;
    position: relative;
    border: 2px solid black;
    background-color: #54eaff;
  }
  
  .bg-layer1::before,
  .bg-layer1::after,
  .bg-layer2::before,
  .bg-layer2::after,
  .bg-layer3::before,
  .bg-layer3::after,
  .bg-layer4::before,
  .bg-layer4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);;
  }
  .bg-layer1::after,
  .bg-layer2::after,
  .bg-layer3::after,
  .bg-layer4::after {
    left: 16px;
    top: 13px;
    z-index: -2;
    border: 2px solid black;
    background-color: #ffcbfa;
  }
  .bg-layer1::before,
  .bg-layer2::before,
  .bg-layer3::before,
  .bg-layer4::before {
    left: 7px;
    top: 5px;
    z-index: -1;
    border: 2px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-layer1::before {
    background-image: url("../assets/blob1.svg");
  }
  .bg-layer2::before {
    background-image: url("../assets/blob3.svg");
  }
    .bg-layer3::before {
        background-image: url("../assets/blob2.svg");
    }
    .bg-layer4::before {
        background-image: url("../assets/blob4.svg");
    }